body{
    background-image:url(Victorian\ Damask\ Flower\ Vintage\ Ornament\ Baroque\ Pattern\ Smaller\ Scale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    line-height: 1.5;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22.5px;
}
#kezdolap{
    text-align: center;
    color: white;
    font-size: xx-large;   
}h1{
    text-align: center;
    color: white;
    font-size: xx-large;
}
a{
    color: white;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
}
.keret{
    padding-top: 70px;
}
p{
    text-indent: 2em;
}
.forras{
    text-align: right;
    font-size: small;
    font-style: italic;
}
table{
    width: 100%;
}
figcaption{
    text-align: center;
    font-weight: bold;
}
.meret{
    width: 10%;
}
img{
    box-shadow: 0px 0px 10px;
}
.block{
    display: block;
}
figure{
    display: inline-block;

}
#felkover{
    font-weight: bold;
}
figure{
    display: block;
    float: right;
    margin-left: 20px;
}
#folap{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
.bmw{
    width: 500px;
}
#auto{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.betu{
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
    font-size: 50px;
}